<div class="body">
    <div class="header">
        <app-header (newItemEvent)="triggerLog()"></app-header>

    </div>
<div class="cuerpo">
    <div class="c-left">
        <div class="left">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, non laborum accusamus eligendi earum quibusdam atque dicta excepturi! Obcaecati odio, at aut voluptatum impedit commodi?        
            <button type="button" id="register"  (click)='trigger()'> Register </button>
        </div>
    </div>
    <div class="right">
        <div class="mockup" [@enterRegister]="state2" >
            <img src="../../../assets/Rectangle.png" alt="mockup" >
          
        </div>
        <div class="register" [@enterRegister]="state">
            <div class="icon">
                <img src="../../../assets/undraw_sign_in_re_o58h.svg" alt="sigin">
            </div>
            <div class="form">
                <div class="reg" *ngIf="log==false">
                    <app-register-component></app-register-component>
                </div>
                <div class="login" *ngIf="log==true">
                    <app-login-component></app-login-component>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="footer">
        <div class="f-left">
            Insertar algo
        </div>
        <div class="f-right">
            <img src="../../../assets/2048px-Angular_full_color_logo 1.png" alt="angular">
            <img src="../../../assets/logo-mysql-mysql-logo-png-images-are-download-crazypng-15 1.png" alt="sql">
            <img src="../../../assets/node 1.png" alt="node">
            <img src="../../../assets/typescript_logo 1ts.png" alt="ts">
        </div>
        
    </div>
</div>